In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import svm, datasets
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('uniprot links_2.csv')
data.head()

,DrugBank ID,Name,Type,UniProt ID,UniProt Name
0,DB00001,Lepirudin,BiotechDrug,P00734,Prothrombin
1,DB00002,Cetuximab,BiotechDrug,P00533,Epidermal growth factor receptor
2,DB00002,Cetuximab,BiotechDrug,O75015,Low affinity immunoglobulin gamma Fc region re...
3,DB00002,Cetuximab,BiotechDrug,P00736,Complement C1r subcomponent
4,DB00002,Cetuximab,BiotechDrug,P02745,Complement C1q subcomponent subunit A

In [3]:
data.describe()

,DrugBank ID,Name,Type,UniProt ID,UniProt Name
count,20061,20061,20061,20061,20061
unique,7370,7370,2,4763,4255
top,DB12010,Fostamatinib,SmallMoleculeDrug,P24941,Cyclin-dependent kinase 2
freq,306,306,19134,136,136

In [4]:
data.isnull().any()

DrugBank ID     False
Name            False
Type            False
UniProt ID      False
UniProt Name    False
dtype: bool

In [5]:
data.groupby(['DrugBank ID']).count()

             Name  Type  UniProt ID  UniProt Name
DrugBank ID
DB00001         1     1           1             1
DB00002        12    12          12            12
DB00004         3     3           3             3
DB00005        14    14          14            14
DB00006         1     1           1             1
DB00007         1     1           1             1
DB00008         2     2           2             2
DB00009         4     4           4             4
DB00010         1     1           1             1
DB00011         2     2           2             2
DB00012         1     1           1             1
DB00013        10    10          10            10
DB00014         2     2           2             2
DB00015         4     4           4             4
DB00016         1     1           1             1
DB00017         1     1           1             1
DB00018         2     2           2             2
DB00019         2     2           2             2
DB00020         5     5           5             5
DB00022         2     2           2             2
DB00024         1     1           1             1
DB00025        11    11          11            11
DB00026         1     1           1             1
DB00028        11    11          11            11
DB00029         4     4           4             4
DB00030         3     3           3             3
DB00031        11    11          11            11
DB00032         2     2           2             2
DB00033         2     2           2             2
DB00034         2     2           2             2
...           ...   ...         ...           ...
DB14528         1     1           1             1
DB14529         1     1           1             1
DB14530         1     1           1             1
DB14533       124   124         124           124
DB14538         4     4           4             4
DB14539         4     4           4             4
DB14540         4     4           4             4
DB14541         4     4           4             4
DB14542         4     4           4             4
DB14543         4     4           4             4
DB14544         4     4           4             4
DB14562         1     1           1             1
DB14568         1     1           1             1
DB14575         1     1           1             1
DB14581         1     1           1             1
DB14583         3     3           3             3
DB14596         1     1           1             1
DB14597         1     1           1             1
DB14635         5     5           5             5
DB14639         1     1           1             1
DB14641         3     3           3             3
DB14642         3     3           3             3
DB14700         1     1           1             1
DB14707         1     1           1             1
DB14723         3     3           3             3
DB14724         1     1           1             1
DB14731         2     2           2             2
DB14738         3     3           3             3
DB14751         3     3           3             3
DB14754         2     2           2             2

[7370 rows x 4 columns]

In [6]:
data.groupby(['UniProt ID']).count()

            DrugBank ID  Name  Type  UniProt Name
UniProt ID
A0A023W3H0            1     1     1             1
A0A0E1R3H3            1     1     1             1
A0A0H2UQB5            1     1     1             1
A0A0H2URW2            1     1     1             1
A0A0H2WWQ9            1     1     1             1
A0A0H2XJ39            1     1     1             1
A0A0H2Z368            1     1     1             1
A0A0H3JRU9            1     1     1             1
A0A0H3JWX6            2     2     2             2
A0A0H3K1U2            3     3     3             3
A0A0M3KKX1            5     5     5             5
A0A143ZZK9            1     1     1             1
A0A144A2G5            1     1     1             1
A0A1Q8GFY7            1     1     1             1
A0R559                1     1     1             1
A1A2B5                1     1     1             1
A1L3X4                1     1     1             1
A1Z199                1     1     1             1
A2QLK4                3     3     3             3
A3FMN7                1     1     1             1
A5HEI4                1     1     1             1
A5W4F4                1     1     1             1
A5X5Y0                7     7     7             7
A6PZ59                2     2     2             2
A7B6P0                1     1     1             1
A7J8L3                1     1     1             1
A8MPY1               15    15    15            15
A9CJ63                1     1     1             1
A9JQL9                3     3     3             3
A9UF02                1     1     1             1
...                 ...   ...   ...           ...
Q9Y697                3     3     3             3
Q9Y698                1     1     1             1
Q9Y6B6                1     1     1             1
Q9Y6E0                1     1     1             1
Q9Y6F1                5     5     5             5
Q9Y6I3                2     2     2             2
Q9Y6K9                2     2     2             2
Q9Y6L6                3     3     3             3
Q9Y6L7                1     1     1             1
Q9Y6M4                4     4     4             4
Q9Y6M9                1     1     1             1
Q9Y6Q6                1     1     1             1
Q9Y6R4                1     1     1             1
Q9Y6Y9                5     5     5             5
Q9Z4J7                1     1     1             1
Q9Z4N6                1     1     1             1
Q9Z4P0                1     1     1             1
Q9Z9H6                1     1     1             1
Q9ZAG3                3     3     3             3
Q9ZB17                4     4     4             4
Q9ZEU2                3     3     3             3
Q9ZF99                1     1     1             1
Q9ZGH3                1     1     1             1
Q9ZGI2                3     3     3             3
Q9ZHG9                2     2     2             2
Q9ZIV5                3     3     3             3
Q9ZK53                1     1     1             1
Q9ZLT0                1     1     1             1
Q9ZNA2                1     1     1             1
T1RTG8                1     1     1             1

[4763 rows x 4 columns]

In [7]:
for name in set(data['UniProt Name']):
    a=set(data.loc[data['UniProt Name'] == name]['UniProt ID'])
    if len(a) > 1:
        print(name,a)

tRNA (guanine-N(1)-)-methyltransferase {'P0A876', 'P43912'}
Alanine racemase {'P10724', 'Q9L888'}
Penicillin-binding protein 2B {'P0A3M5', 'P0A3M6'}
Methionine--tRNA ligase {'P00959', 'Q8IJ60', 'Q6GJI1'}
3-hydroxydecanoyl-[acyl-carrier-protein] dehydratase {'P0A6Q3', 'P0A6Q5'}
Structural polyprotein {'P09592', 'P03316'}
DNA-directed RNA polymerase subunit alpha {'Q5SHR6', 'P0A7Z4', 'Q9Z9H6'}
Dihydrolipoyl dehydrogenase {'P14218', 'P18925', 'P09063', 'Q51225'}
4-hydroxyphenylpyruvate dioxygenase {'P32754', 'Q53586'}
Formyl-CoA:oxalate CoA-transferase {'O06644', 'P69903'}
UDP-glucose 4-epimerase {'Q14376', 'P09147'}
Pol polyprotein {'P03371', 'P16088', 'Q72874', 'Q88016'}
Beta-xylanase {'O68541', 'Q7SI98'}
60S ribosomal protein L3 {'Q8IJC6', 'P39023'}
Glucose-1-phosphate thymidylyltransferase {'P26393', 'Q9HU22'}
Tyrosine phenol-lyase {'P31013', 'P31012'}
Uracil phosphoribosyltransferase {'Q5KUI3', 'Q9WZI0'}
Malate dehydrogenase {'P80040', 'P61889', 'Q9ZF99'}
3-deoxy-manno-octulosonate cytidylyltransferase {'P44490', 'P42216'}
Tyrosine-protein kinase transforming protein Src {'P63185', 'P00524'}
S-ribosylhomocysteine lyase {'Q9RRU8', 'O34667'}
3-hydroxyacyl-[acyl-carrier-protein] dehydratase FabZ {'O25928', 'Q5G940'}
Uridine phosphorylase {'P12758', 'P0A1F6'}
Heme oxygenase {'Q54AI1', 'P71119'}
Alkyl hydroperoxide reductase subunit F {'P35340', 'P19480'}
Flavodoxin {'P0A3D9', 'P10340', 'P00323', 'Q9ZK53', 'P00322'}
Beta-lactamase {'P52664', 'Q53IN1', 'P26918', 'P05364', 'P00808', 'P05193', 'B2ZTR6', 'Q79MP6', 'P00807', 'Q9L5C8', 'P00811'}
Isocitrate dehydrogenase [NADP] {'P39126', 'P08200', 'P16100'}
Hyaluronate lyase {'Q54873', 'Q53591'}
Indole-3-pyruvate decarboxylase {'P51852', 'P23234'}
GTP cyclohydrolase 1 {'P0A6T8', 'P30793'}
Carboxylesterase {'Q7SIA5', 'Q06174'}
Argininosuccinate synthase {'P0A6E4', 'P59846', 'P00966'}
2-amino-4-hydroxy-6-hydroxymethyldihydropteridine pyrophosphokinase {'P43777', 'P26281', 'P9WNC7'}
Endolysin {'P03706', 'P00720'}
Oxidoreductase {'Q7SID9', 'Q7SIA3'}
60S ribosomal protein L4 {'P36578', 'Q8I431'}
Chloramphenicol acetyltransferase {'P26841', 'P62580'}
Acyl-CoA hydrolase {'Q81EE4', 'Q9KEQ1'}
Thymidylate kinase {'P9WKE1', 'P0A721', 'P23919'}
Delta-aminolevulinic acid dehydratase {'Q59643', 'Q59334', 'P0ACB2', 'P13716'}
3-alpha-(or 20-beta)-hydroxysteroid dehydrogenase {'P9WGT1', 'P19992'}
30S ribosomal protein S4 {'P80373', 'P0A7V8'}
Sialidase {'P29768', 'Q02834'}
V-type proton ATPase catalytic subunit A {'P38606', 'Q76NM6'}
Lanosterol synthase {'Q04782', 'P48449'}
Ferredoxin--NADP reductase {'P21890', 'P58558', 'Q44532', 'P28861'}
Cell division protein ZipA {'P77173', 'Q83QN9'}
Xylose isomerase {'P24300', 'P12851', 'P12070', 'P15587'}
Ribosome-recycling factor {'P0A808', 'P0A805'}
Neuraminidase {'P27907', 'P06820', 'P11485', 'P03472', 'P03474', 'P06818'}
Phosphopantetheine adenylyltransferase {'Q72K87', 'Q9WZK0', 'P0A6I8'}
Hydroxylamine reductase {'Q01770', 'P31101'}
Deoxyribose-phosphate aldolase {'P0A6L0', 'Q5SJ28'}
p-hydroxybenzoate hydroxylase {'P20586', 'P00438'}
Cytidine deaminase {'P0ABF6', 'P32320', 'P19079'}
Hemagglutinin {'P03437', 'P26137'}
30S ribosomal protein S8 {'P0DOY9', 'P0A7W7'}
Steroid Delta-isomerase {'P07445', 'P00947'}
pH-gated potassium channel KcsA {'P0A333', 'P0A334'}
Lipoprotein MxiM {'P0A1X3', 'P0A1X2'}
Catalase-peroxidase {'P9WIE5', 'Q939D2'}
Cytochrome c oxidase subunit 1 {'P33517', 'Q5SJ79', 'Q56408', 'P00395'}
5'-methylthioadenosine/S-adenosylhomocysteine nucleosidase {'Q9KPI8', 'P0AF14', 'P0AF12'}
Histamine H1 receptor {'P70174', 'P35367'}
Purine nucleoside phosphorylase {'P00491', 'P81989', 'Q9X1T2', 'P9WP01', 'Q5SID9'}
Reaction center protein H chain {'P0C0Y7', 'P06008', 'Q3J170'}
HTH-type transcriptional regulator QacR {'P0A0N5', 'P0A0N4'}
DNA gyrase subunit A {'P05653', 'P0AES4', 'P72524', 'P20831', 'P43700'}
Isoleucine--tRNA ligase {'P56690', 'P41972'}
Prolyl endopeptidase {'Q9X6R4', 'P48147'}
UDP-N-acetylglucosamine 1-carboxyvinyltransferase {'P0A749', 'P0A751', 'P33038'}
Tryptophan synthase alpha chain {'P16608', 'P00929'}
S-adenosylmethionine synthase {'Q7K6A4', 'P0A820'}
Thermolysin {'P00800', 'P43133'}
Bacteriochlorophyll a protein {'Q46393', 'P11741'}
3-dehydroquinate dehydratase {'P15474', 'Q48255', 'P24670', 'Q6GII7', 'P9WPX7'}
2-C-methyl-D-erythritol 2,4-cyclodiphosphate synthase {'A0R559', 'P62617', 'Q8RQP5', 'P62619', 'Q8EBR3'}
Biphenyl-2,3-diol 1,2-dioxygenase {'P17297', 'P47228'}
Enoyl-[acyl-carrier-protein] reductase [NADH] FabI {'O24990', 'P0AEK4'}
Fiber {'Q64823', 'Q64822'}
Alpha-amylase {'P00692', 'P00691', 'P29957'}
2-dehydro-3-deoxyphosphooctonate aldolase {'O66496', 'P0A716'}
Ribose-5-phosphate isomerase A {'P0A7Z3', 'Q5SIR5', 'P44725'}
Maltoporin {'P02943', 'P26466'}
Thioredoxin reductase {'P66010', 'P0A9P4'}
UDP-galactopyranose mutase {'P9WIQ1', 'P37747'}
Bifunctional protein GlmU {'Q97R46', 'P43889', 'P0ACC7'}
Porin {'P31243', 'P39767'}
Deoxyuridine 5'-triphosphate nucleotidohydrolase {'P06968', 'P9WNS5'}
Shikimate dehydrogenase (NADP(+)) {'P15770', 'P43876'}
Serine acetyltransferase {'Q0WKM4', 'P43886'}
30S ribosomal protein S10 {'Q5SHN7', 'P0A7R5'}
Envelope glycoprotein gp160 {'P12488', 'P05884', 'P35961'}
mRNA-capping enzyme {'O60942', 'Q84424'}
Oxygen-insensitive NADPH nitroreductase {'O25608', 'P17117'}
Holo-[acyl-carrier-protein] synthase {'P0A2W7', 'P96618'}
Phenylalanine--tRNA ligase alpha subunit {'Q4L5E3', 'Q9Y285'}
Hexokinase {'Q02155', 'Q26609'}
Chorismate synthase {'P56122', 'P0A2Y7'}
Peptidoglycan synthase FtsI {'P0AD68', 'P45059'}
Cytochrome P450 {'Q746J6', 'Q83WG3'}
3-oxoacyl-[acyl-carrier-protein] synthase 1 {'P9WQD9', 'P0A953'}
Squalene monooxygenase {'Q14534', 'Q92206'}
Serine hydroxymethyltransferase {'P0A827', 'Q5KUI2', 'Q53ET4'}
50S ribosomal protein L4 {'P44345', 'P60723', 'P38516'}
Uracil-DNA glycosylase {'Q8X444', 'P13051', 'P10186', 'Q5SKC5'}
FMN-dependent NADH-azoreductase {'P63462', 'P41407'}
dTDP-glucose 4,6-dehydratase {'Q9ZGH3', 'P95780', 'P26391'}
DNA-directed RNA polymerase subunit beta' {'P0A8T7', 'Q8RQE8', 'P9WGY7'}
NH(3)-dependent NAD(+) synthetase {'O25096', 'P08164', 'P18843'}
Adenosylhomocysteinase {'P23526', 'P9WGV3', 'P50250'}
DNA polymerase I {'P52026', 'P00582'}
Cytochrome b {'Q02761', 'P00156', 'Q02768'}
Tubulin alpha chain {'P87066', 'P14642'}
GDP-L-fucose synthase {'P32055', 'Q13630'}
60S ribosomal protein L23 {'P62829', 'Q8IE82'}
Glutaminase 1 {'P77454', 'O31465'}
Serine/threonine protein kinase UL97 {'Q68101', 'P16788'}
D-alanyl-D-alanine carboxypeptidase {'P39045', 'P15555'}
30S ribosomal protein S7 {'P02359', 'P17291'}
40S ribosomal protein S19 {'P39019', 'C0H5C2'}
Acetylglutamate kinase {'P0A6C8', 'Q9HTN2'}
D-hydantoinase {'Q45515', 'Q8VTT5'}
Tyrosine aminotransferase {'P33447', 'P17735'}
Enoyl-[acyl-carrier-protein] reductase [NADH] {'P9WGR1', 'Q81JF8'}
DNA gyrase subunit B {'P0A0K8', 'P0AES6', 'P0A4L9', 'Q5SHZ4'}
30S ribosomal protein S20 {'P62661', 'P80380'}
dTDP-4-dehydrorhamnose 3,5-epimerase {'Q8GIQ0', 'P26394', 'Q9HU21', 'P9WH11'}
RNA polymerase sigma factor SigA {'Q5SKW1', 'Q18BX5'}
Cytochrome c3 {'P00137', 'Q9L915', 'P00132'}
Xanthine phosphoribosyltransferase {'P0A9M5', 'P42085'}
N-acylneuraminate cytidylyltransferase {'Q8NFW8', 'P0A0Z8'}
Nitrite reductase {'P72181', 'P24474'}
Capsid scaffolding protein {'P16753', 'P03234'}
Glucokinase {'P35557', 'P0A6V8'}
D-lactate dehydrogenase {'P30901', 'P06149'}
Cytochrome c2 {'P00091', 'P0C0X8'}
o-succinylbenzoate synthase {'Q47Q21', 'Q44244', 'P29208', 'Q9RYA6'}
Methionine aminopeptidase 2 {'P50579', 'P9WK19'}
Adenylate kinase {'P16304', 'P69441', 'P84139', 'P27142'}
Fumarate reductase iron-sulfur subunit {'P17596', 'P0AC47'}
Lipase {'P25275', 'P22088'}
Pantothenate synthetase {'Q5SHF5', 'P9WIL5'}
Reaction center protein L chain {'P06009', 'Q3J1A5', 'P0C0Y8'}
Dihydropteroate synthase {'P9WND1', 'P0AC13', 'P0C0X1', 'Q81VW8'}
Methionine synthase {'P13009', 'Q99707'}
Elongation factor 2 {'P13639', 'Q8IKW5'}
Glutathione S-transferase {'Q59721', 'Q8MU52'}
Penicillin-binding protein 1A {'Q07806', 'Q04707', 'Q8DR59', 'P02918', 'Q8XJ01'}
GTP-binding nuclear protein Ran {'P38545', 'P62826'}
Flavohemoprotein {'P24232', 'P39662'}
Kynureninase {'Q16719', 'P83788'}
Cellulase B {'O07653', 'Q54331'}
Ferrochelatase {'Q7KZA3', 'P32396'}
Gag polyprotein {'O93182', 'P05893', 'Q72497'}
Threonine--tRNA ligase {'Q8IIA4', 'P0A8M5', 'Q8NW68'}
Oxygen-insensitive NAD(P)H nitroreductase {'P38489', 'Q01234'}
Sulfide-quinone reductase {'B7JBP8', 'O67931'}
Nicotinate-nucleotide adenylyltransferase {'P0A753', 'P54455'}
Adenylate cyclase {'O32393', 'P94182'}
Penicillin-binding protein 2 {'Q9X6V3', 'D6R448', 'P0AD65', 'P44469', 'P08149', 'Q70KI2', 'A0A0H2WWQ9'}
Aspartate aminotransferase {'P83786', 'Q2TU84', 'Q56232', 'P00509'}
Phospholipase D {'Q53728', 'P84147'}
ADP-ribose pyrophosphatase {'P83844', 'Q84CU3'}
Penicillin-binding protein 3 {'Q75Y35', 'A0A0H2XJ39', 'A0A0E1R3H3', 'P42971'}
Beta-lactamase TEM {'P62593', 'P62594'}
Copper-containing nitrite reductase {'O68601', 'P25006'}

Hydrolase {'Q7SIG1', 'Q7SIE9'}
Non-heme chloroperoxidase {'O31168', 'O31158'}
Thymidine kinase {'P0C0E6', 'P24425', 'Q9PPP5', 'Q9QNF7', 'P09250', 'P03176', 'P06478'}
30S ribosomal protein S17 {'P62658', 'P0DOY7'}
Genome polyprotein {'P29813', 'Q66282', 'Q71LY2', 'P27914', 'P22055', 'P26664', 'P12915', 'P26662', 'O92972', 'P13900', 'P13901', 'P21404', 'P19711', 'Q82122', 'Q99AU2', 'Q9WMX2', 'P27915', 'P03302', 'O91734', 'P26660', 'P27958', 'P06441', 'Q8V397', 'P26663', 'P23008', 'P06210', 'B0B3C9', 'P08617', 'P12823', 'P04936', 'P03303', 'P03300', 'P26661'}
Dihydroorotate dehydrogenase (quinone), mitochondrial {'Q02127', 'Q08210'}
Transketolase {'P29401', 'Q81Y15'}
Cytochrome c oxidase subunit 2 {'P08306', 'P98052', 'Q03736', 'Q5SJ80', 'P00403'}
Endo-1,4-beta-xylanase {'Q8RJN8', 'P09850', 'Q7SIE2', 'P40943'}
Adenylosuccinate synthetase {'Q83P33', 'P0A7D4', 'Q8ZIV7', 'Q9U8D3'}
Isopentenyl-diphosphate delta-isomerase {'P50740', 'Q746I8'}
Citrate lyase subunit beta-like protein {'Q9RUZ0', 'P9WPE1'}
Outer-membrane lipoprotein LolB {'P61322', 'P61320'}
Cytochrome c' {'P00147', 'P00148', 'P00138'}
2-C-methyl-D-erythritol 4-phosphate cytidylyltransferase {'Q9X1B3', 'Q46893'}
30S ribosomal protein S19 {'Q5SHP2', 'P0A7U3', 'P62660'}
Phosphoserine aminotransferase {'Q9RME2', 'Q9Y617'}
Thiosulfate sulfurtransferase {'P52197', 'Q16762'}
30S ribosomal protein S13 {'P80377', 'P0A7S9'}
Triosephosphate isomerase {'Q07412', 'P60174', 'P00943', 'P50921'}
Protein P {'P24024', 'O11885', 'Q05486'}
Aminopeptidase N {'P15144', 'P04825'}
DNA-directed RNA polymerase subunit beta {'P0A8V2', 'Q8RQE9'}
Aquaporin Z {'P60844', 'O68874'}
Release factor glutamine methyltransferase {'Q9WYV8', 'P0ACC1'}
Tyrosine--tRNA ligase {'P83453', 'Q5UPJ7', 'P0AGJ9'}
3-methyl-2-oxobutanoate hydroxymethyltransferase {'P31057', 'Q9JZW6'}
30S ribosomal protein S9 {'P0A7X3', 'P80374', 'P62669'}
Enolase {'Q8GR70', 'Q8IJN7'}
NAD(P)H dehydrogenase (quinone) {'Q9RYU4', 'P9WHH7'}
3-oxoacyl-[acyl-carrier-protein] synthase 3 {'Q820T1', 'P0A6R0', 'P9WNG3', 'Q9F6D4'}
1-phosphatidylinositol phosphodiesterase {'P14262', 'P34024'}
Methylenetetrahydrofolate reductase {'P42898', 'Q9RA47'}
Orotidine 5'-phosphate decarboxylase {'P08244', 'P25971'}
D-alanyl-D-alanine endopeptidase {'P72161', 'P0AFI5'}
Endo-1,4-beta-xylanase A {'Q8GJ44', 'Q60037', 'P26514'}
Nicotinate-nucleotide pyrophosphorylase [carboxylating] {'Q15274', 'P9WJJ7', 'P30012'}
Uncharacterized protein {'A9CJ63', 'B7JA91', 'Q81C15', 'Q8DW21', 'Q9KVB4', 'Q9X0P2', 'Q87MW5', 'Q7Z3Y4', 'Q57VC7', 'A0A0H2URW2', 'Q9HYX1', 'Q5SKH6', 'Q82EE4'}
Dihydrofolate reductase {'P22906', 'P00374', 'P00381', 'P0A017', 'P0ABQ4', 'P9WNX1', 'P16184', 'Q81R22', 'A0A0M3KKX1'}
Gag-Pol polyprotein {'P04585', 'P12497', 'P04587', 'P12499', 'P03366', 'P03369', 'P03367', 'P05896', 'P35963', 'P03355', 'P04584'}
Phenylalanine--tRNA ligase beta subunit {'Q4L5E4', 'Q9NSD9'}
DNA topoisomerase 4 subunit B {'Q59192', 'Q59961', 'P20083'}
Reaction center protein M chain {'Q3J1A6', 'P06010', 'P0C0Y9'}
30S ribosomal protein S11 {'L0LZJ6', 'P80376'}
Cell division protein FtsZ {'P9WN95', 'O08398'}
Deoxyribodipyrimidine photo-lyase {'P61497', 'P05327', 'P00914'}
Elongation factor Tu {'Q01698', 'Q83JC4'}
30S ribosomal protein S12 {'Q5SHN3', 'P0A7S3'}
Rhomboid protease GlpG {'P09391', 'P44783'}
30S ribosomal protein S2 {'P62662', 'P80371'}
Dihydropteroate synthase type-1 {'P0C002', 'Q49184'}
DNA topoisomerase 1 {'P06612', 'Q06AK7', 'P11387'}
Glutamate racemase {'Q9A1B7', 'Q9ZLT0', 'P56868', 'Q8Y7N7', 'Q836J0'}
UDP-N-acetylenolpyruvoylglucosamine reductase {'P08373', 'P61432'}
Amidophosphoribosyltransferase {'Q06203', 'P0AG16', 'P00497'}
Holliday junction ATP-dependent DNA helicase RuvB {'Q5SL87', 'Q56313'}
Cholesterol oxidase {'P22637', 'P12676'}
Fumarate reductase flavoprotein subunit {'Q9Z4P0', 'P83223', 'P00363', 'P17412', 'P0C278'}
Light-harvesting protein B-800/850 alpha chain {'P97253', 'P26789'}
D-alanyl-D-alanine carboxypeptidase DacA {'P0AEB2', 'P0AEB3'}
Calcium-activated potassium channel subunit alpha-1 {'Q12791', 'Q08460'}
Malate synthase G {'P9WK17', 'P37330'}
Methylaspartate ammonia-lyase {'Q05514', 'O66145'}
3-mercaptopyruvate sulfurtransferase {'P31142', 'Q7K9G0'}
Phosphocarrier protein HPr {'P08877', 'P07515'}
DNA polymerase {'Q38087', 'Q91CQ6'}
Glutamine synthetase {'P15104', 'P0A1P6', 'P9WN39', 'P9WN38'}
Nitric oxide synthase oxygenase {'P0A094', 'O34453'}
5-hydroxytryptamine receptor 2C {'P08909', 'P28335'}
3-phosphoshikimate 1-carboxyvinyltransferase {'P0A6D3', 'Q9S400'}
Methionine aminopeptidase {'P0A078', 'P0AE18', 'P0A079'}
(S)-2-haloacid dehalogenase {'Q53464', 'Q60099'}
Histidine--tRNA ligase {'P56194', 'P60906'}
Protein RecA {'P42443', 'P62219', 'Q59560', 'P0A7G9'}
4-hydroxybenzoyl-CoA thioesterase {'Q04416', 'P56653'}
Beta-hexosaminidase {'Q9KU37', 'P40406'}
Thymidine phosphorylase {'P07650', 'P19971'}
Acyl carrier protein {'P0A6A8', 'P0A6B1'}
Protein disulfide-isomerase {'P07237', 'C0H4Y6'}
6,7-dimethyl-8-ribityllumazine synthase {'P9WHE9', 'O66529', 'P11998'}
Ribosomal small subunit pseudouridine synthase A {'P45124', 'P0AA43'}
D-galactose-binding periplasmic protein {'P23905', 'P0AEE5'}
Hypoxanthine-guanine phosphoribosyltransferase {'Q27796', 'P00492'}
Neocarzinostatin {'P0A3S0', 'P0A3R9'}
Penicillin-binding protein 1B {'O70038', 'P02919', 'Q9X6W0'}
3-hydroxy-3-methylglutaryl-coenzyme A reductase {'P04035', 'P13702'}
Glutathione reductase {'P06715', 'Q94655'}
Peptidyl-prolyl cis-trans isomerase A {'P62937', 'P0AFL3'}
DNA polymerase catalytic subunit {'P08546', 'P03198', 'P09252', 'P04293'}
Glyceraldehyde-3-phosphate dehydrogenase {'P00362', 'P04406', 'Q8IKK7'}
Histidinol-phosphate aminotransferase {'Q9X0D0', 'P06986'}
Aldehyde oxidoreductase {'Q9REC4', 'Q46509'}
DNA ligase {'Q837V6', 'P43813'}
Guanylate kinase {'Q16774', 'P9WKE9'}
Fatty acid metabolism regulator protein {'P0A8V9', 'P0A8V6', 'P94548'}
Protoporphyrinogen oxidase {'P32397', 'P56601'}
Urease subunit alpha {'P41020', 'P18314'}
Beta-glucosidase A {'Q08638', 'P22073'}
Chorismate mutase AroH {'P19080', 'Q84FH6'}
UDP-3-O-[3-hydroxymyristoyl] N-acetylglucosamine deacetylase {'O67648', 'P47205'}
Catalase {'P42321', 'P29422', 'P77872', 'P04040'}
Thymidylate synthase {'P13100', 'P0A884', 'P12461', 'P00469', 'P04818'}
Peptide deformylase {'P68771', 'P68826', 'P9WIJ3', 'Q8DP79', 'Q82ZJ0', 'Q9I7A8', 'Q672W7', 'P96113', 'Q8NX78', 'Q8I372', 'P43522', 'Q93LE9', 'P0A6K3'}
UDP-glucose 6-dehydrogenase {'P0C0F4', 'O60701'}
Adenosine deaminase {'Q8IJA9', 'P00813'}
Beta-lactamase SHV-1 {'P0AD64', 'P0AD63'}
Cyclomaltodextrin glucanotransferase {'P30920', 'P05618', 'P26827'}
GMP synthase [glutamine-hydrolyzing] {'P04079', 'P49915'}
L-lactate dehydrogenase {'P16115', 'Q27743'}
Hemagglutinin-neuraminidase {'P32884', 'P12564'}
Cytochrome c-552 {'P0ABK9', 'P04164', 'L0DSL2', 'P54820', 'Q72EF3'}
Peptide deformylase 2 {'O31410', 'Q819K2'}
Glucose-6-phosphate 1-dehydrogenase {'P11413', 'P11411'}
Lanosterol 14-alpha demethylase {'Q16850', 'P10613', 'P50859', 'P10614'}
Parathion hydrolase {'P0A434', 'P0A433'}
Tubulin beta chain {'P10875', 'Q7KQL5', 'P07437'}
4-hydroxy-tetrahydrodipicolinate reductase {'P04036', 'P9WP23'}
DNA topoisomerase 4 subunit A {'P0C1U9', 'P72525', 'P0AFI2', 'P43702'}
30S ribosomal protein S3 {'P62663', 'P0A7V3', 'P80372'}
D-3-phosphoglycerate dehydrogenase {'O43175', 'P9WNX3'}

In [8]:
data.groupby(['DrugBank ID']).count

In [9]:
data.groupby(['UniProt ID']).count